.nav{
    grid-area: nav;
    background-color:  rgba(48, 45, 49, 0.705);
    border-radius: 5px;
    height: 60vh;
    display: flex;
    gap: 25px;
    flex-direction: column;
    padding: 30px 10px 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


.item{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .4rem;
    transition: all 0.3s ease 0s;
}
.item:hover{
    letter-spacing: .5rem;
}
.item a{
    color: white;
}

.item a.active{
    color: rgb(225, 166, 166);
}
.friends{
   padding-top: 50px;
   padding-bottom: 10px;
}