:root{
    --primary-gradient: linear-gradient(90deg, #08AEEA 0%, #2AF598 100%);
    --box-shadow: 0px 10px 13px -12px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.nav{
    grid-area: nav;
    /* background: var(--primary-gradient);
    background-color: #08AEEA; */
    background-color:  rgba(250, 242, 255, 0.705);
    border-radius: 5px ;
    box-shadow: var(--box-shadow);
    max-height: 60vh;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .6vh ;
    flex-direction: column;
    padding: 30px 5px;
}
.nav div a{
    font-size: 1.6vw;
    text-transform: uppercase;
    letter-spacing: .4rem;
    transition: all 0.3s ease 0s;
}
.nav div a:hover{
    letter-spacing: .5rem;
    text-decoration:underline 3px solid;
}