:root{
    --primary-gradient: linear-gradient(90deg, #08AEEA 0%, #2AF598 100%);
    --box-shadow: 0px 10px 23px -10px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}


.header{
    grid-area: header;
    background-color: #08AEEA;
    background-image: var(--primary-gradient);
    border-radius: 0 0 20px 20px;
    box-shadow: var(--box-shadow);
}   
.header img{
    flex-shrink: 0;
}