.app-wrapper{
    margin: 0 auto;
    width: 1214px;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas: 
    'header header header'
    'nav main main';
}
.header{
    grid-area: header;
    background-color: #3333;
}
.header img{
    width: 20px;
}
.nav{
    grid-area: nav;
    background-color: #5555;
}
.content{
    grid-area: main;
    background-color: #6666;
}
img{
    max-width: 100%;
}