*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(169, 169, 169);
    text-decoration: none;
}
body{
    min-height: 100vh;
    min-width: 10vw;
    background-color:  rgba(10, 9, 10, 0.916);

}
.app-wrapper{
    margin: 0 auto;
    width: 1214px;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px;
    grid-template-areas: 
    'header header header'
    'nav main main';
}
.app-wrapper-content{
    grid-area: main;
    background-color: rgba(75, 73, 77, 0.705);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 13px -12px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}